/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-nero: #262626;
    --color-dark-nero: #1e1e1e;
    --color-yellowy-green: #A7D729;
    --color-smoky: #5A5A5F;
    --color-white: #FFFFFF;
    --color-ghost: #B6B6BB;
    --color-btn-active-light-blue: #C9F7F5;
    --color-light-sea-green: #1BC5BD;
    --color-sundown: #FFAEAE;
    --color-red: #FF0000;
    --color-bittersweet-error-mensagem: #FF5B5B;
}

body {
    background-image: url(../img/Background_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-dark-nero) !important;
    display: flex !important;
    flex-direction: column !important;
    height: 100vh;
    width: 100%;
}

.BlackGradient {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #262626 43.23%, rgba(255, 255, 255, 0.8) 100%);
}

.img-logo {
    width: 100%;
}

.cascading-right {
    margin-right: -50px;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}

.input-containers{
    width: 280px;
    position: relative;
}

.label-custom{
    position:absolute;
    left:10px;
    top:14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}


.text-input{
    top: 0;
    left: 0;
    padding: 0.8rem;
    width: 80%;
    height: 100%;
    border: 2px solid var(--color-dark-nero);
    background: var(--color-dark-nero);
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: var(--color-yellowy-green);
}


.label-custom::before{
    content: "";
    height: 5px;
    background: #272530;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input:focus{
    border: 2px solid var(--color-yellowy-green);
}

    .text-input:focus ~ .label-custom, .text-input:not(:placeholder-shown) .text-input:not(:focus) ~ label-custom{
        top: -10px;
        color: #7e4ccb;
        font-size: 14px;
    }

.text-input::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.position-custom{
    position:relative !important;
}

.size-background-container {
    height: 100% !important;
    align-items: center;
}

.input-flex-custom {
    display: flex !important;
    flex-direction: column;
}

.btn-login-custom {
    height: 100%;
    width: 80% !important;
    padding: 0.8rem;
    background-color: var(--color-yellowy-green);
    border-radius: 15px;
    border:none;
}