<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    
    <div class="sidebar close">
        <div class="logo-details">
            <i><img src="~/img/RecrutaPlus.png" class="img-nav-icon" /></i>
        </div>
        <ul class="nav-links">
            <li>
                <a asp-area="" asp-controller="Dashboard" asp-action="Index">
                    <i class="fa-solid fa-house"></i>
                    <span class="link_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Funcionarios" asp-action="Index">
                    <i class="fa-regular fa-address-card"></i>
                    <span class="link_name">Funcionarios</span>
                </a>
            </li>
            <hr class="hr-color" />
            <li>
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="">
                    <i class="fa-regular fa-user"></i>
                    <span class="link_name">Perfil</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Settings" asp-action="Index">
                    <i class="fa-solid fa-gear"></i>
                    <span class="link_name">Configurações</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Login" asp-action="Index">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span class="link_name">Sair</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <header class="layout-header sticky-top">
            <i class='bx bx-menu text-yellowy'></i>
        </header>
        <div class="home-content">
            @RenderBody()
        </div>
        <footer class="layout-footer">
            <h6 class="text-white mb-0 pl-4">&nbsp; developed by Kennedy, Menezes e Ottoni <strong class="text-yellowy">@DateTime.Now.ToString("yyyy")</strong></h6>
        </footer>
    </section>

    <script src="~/lib/chartjs/chart.min.js"></script>
    

    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });

    </script>
</body>
</html>