<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/custom.css" data-skin="default">
    <link rel="stylesheet" href="~/css/theme-light.css" data-skin="lightTheme">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <script>
        var skin = localStorage.getItem('skin') || 'default';
        var isCompact = JSON.parse(localStorage.getItem('hasCompactMenu'));
        var disabledSkinStylesheet = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');
        // Disable unused skin immediately
        disabledSkinStylesheet.setAttribute('rel', '');
        disabledSkinStylesheet.setAttribute('disabled', true);
        // add flag class to html immediately
        if (isCompact == true) document.querySelector('html').classList.add('preparing-compact-menu');
    </script>

</head>
<body>
    
    
    <div class="sidebar close">
        <div class="logo-details">
            <i><img src="~/img/RecrutaPlus.png" class="img-nav-icon" /></i>
        </div>
        <ul class="nav-links">
            <li>
                <a asp-area="" asp-controller="Dashboard" asp-action="Index">
                    <i class="fa-solid fa-house"></i>
                    <span class="link_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Funcionarios" asp-action="Index">
                    <i class="fa-regular fa-address-card"></i>
                    <span class="link_name">Funcionarios</span>
                </a>
            </li>
            <hr class="hr-color" />
            @*<li>
                <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="">
                    <i class="fa-regular fa-user"></i>
                    <span class="link_name">Perfil</span>
                </a>
            </li>*@
            <li>
                <a asp-area="" data-toggle="skin">
                    <i class="fa-solid fa-moon"></i>
                    <span class="link_name">DarkTheme</span>
                </a>
            </li>
            <li>
                <a asp-area="" data-bs-toggle="modal" data-bs-target="#modalSair">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span class="link_name">Sair</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <header class="layout-header sticky-top">
            <i class='bx bx-menu text-yellowy'></i>
        </header>
        <div class="home-content">
            @RenderBody()
        </div>
        <footer class="layout-footer">
            <h6 class="text-white mb-0 pl-4">&nbsp; developed by Kennedy, Menezes e Ottoni <strong class="text-yellowy">@DateTime.Now.ToString("yyyy")</strong></h6>
        </footer>
    </section>

    <div class="modal fade " id="modalSair" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content  form-modal-custom">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-yellowy" id="staticBackdropLabel">Confirmar Saida?</h1>
                </div>
                <form asp-action="index" asp-controller="login" method="post">
                    <div class="modal-body">
                        <div class="d-flex gap-2">

                            <span>Você tem certeza que deseja <strong class="text-yellowy">deslogar?</strong></span>

                        </div>
                    </div>
                    <div class="modal-footer justify-content-end">
                        <button type="button" class="btn btn-dark-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                        <button type="submit" class="btn btn-green-default">Logout</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/lib/chartjs/chart.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });

    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>